:root {
   --main-font: 'robotoRegular';
   --main-color: #d4e0f5 ;
   --addres-color: #7b8fb9 ;
   --pop-medium:'poppins-medium';
   --pop-semibold:'poppins-semibold';
   --pop-light:'poppins-light';
   --arabic : 'Arabic';
}

